[[source]]
name = "pypi"
verify_ssl = true
url = "https://pypi.org/simple"

[packages]
peewee = "*"
falcon = "*"
"argon2-cffi" = "*"
pillow = "*"
requests = "*"
uwsgi = "*"
falcon-auth = "*"
falcon-cors = "*"
huey = "*"
redis = "*"
falcon-multipart = "*"
crypto = "*"
pycrypto = "*"
gunicorn = "*"
bson = "*"
avatar = {git = "https://github.com/lsdlab/avatar-gen.git"}
hashids = "*"
pyyaml = "*"
colorama = "*"
python-magic = "*"
pip = "*"
itsdangerous = "*"
peewee-migrate = "*"
py-bcrypt = "*"
aiohttp = "*"
aiohttp-sse = "*"
aiopg = "*"
peewee-async = "*"
"psycopg2-binary" = "*"
moviepy = "*"
imageio = "*"
aioredis = "*"
tornado = "*"

[requires]
python_version = "3.6"

[dev-packages]
pytest = "*"
requests-toolbelt = "*"

[pipenv]
allow_prereleases = true
