[[source]]
url = "https://pypi.org/simple"
name = "pypi"
verify_ssl = true

[dev-packages]

[packages]
tornado = "*"
aiopg = "*"
redis = "*"
huey = "*"
avatar = {git = "https://github.com/lsdlab/avatar-gen.git"}
pillow = "*"
pycrypto = "*"
hashids = "*"
peewee = "==3.7.0"
peewee-async = "*"
itsdangerous = "*"
"psycopg2-binary" = "*"
python-magic = "*"
moviepy = "*"
aioredis = "*"
tornado-uvloop = "*"
py-bcrypt = "*"
requests = "*"

[requires]
python_version = "3.6"

[pipenv]
allow_prereleases = true
