argon2-cffi==18.1.0
bjoern==2.2.0
certifi==2018.1.18
cffi==1.11.5
chardet==3.0.4
falcon==1.4.1
falcon-auth==1.1.0
falcon-multipart==0.2.0
idna==2.6
peewee==3.2.1
pkg-resources==0.0.0
pycparser==2.18
PyJWT==1.6.1
python-mimeparse==1.6.0
pytz==2018.3
requests==2.18.4
six==1.11.0
urllib3==1.22
